<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Comment by User <%= comment.userId %></title>
</head>
<body>
    <%- include('partials/nav') %>
    <%- include('partials/messages') %>

    <main class="comment-page">

        <section class="comment-form">
            <h2>Edit Comment</h2>
            <form action="/api/comments/<%= comment.id %>?_method=PATCH" method="POST">
                <textarea name="body"><%= comment.body %></textarea>
                <button type="submit">Update Comment</button>
            </form>
            <form action="/api/comments/<%= comment.id %>?_method=DELETE" method="POST">
                <button type="submit">Delete Comment</button>
            </form>
        </section>  

        <section class="comment-detail">
            <h1>Comment Details</h1>
            <h2>Comment</h2>
            <p><strong>Comment ID:</strong> <%= comment.id %></p>
            <p><strong>User ID:</strong>
                <a href="/api/users/<%= comment.userId %>"><%= comment.userId %></a>
            </p>
            <p><strong>Post ID:</strong> 
                <a href="/api/posts/<%= comment.postId %>"><%= comment.postId %></a>
            </p>
            <p><strong>Body:</strong> <%= comment.body %></p>
        </section>
    </main>

</body>
</html>
