<!DOCTYPE html>
<html  lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>available animals for adoption</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <main class="available-page">
        <%- include('partials/nav') %>
        <%- include('partials/messages') %>
        
      <section>
        <h1>Available Animals for Adoption</h1>
      </section>

      <section>
            <% if (animals.length === 0) { %>
                <p>No animals available at the moment.</p>
            <% } else { %>
                <ul class="animals-list">
                <% animals.forEach(animal => { %>
                    <li>
                    <a href="/api/<%= animal.route %>/<%= animal._id %>">
                    <strong><%= animal.name %></strong> - 
                    <%= animal.species || animal.type %> - 
                    <span> | Age: <%= animal.age %> | 
                    <%= animal.habitat.join(", ") %>
                    </li>
                <% }); %>
                </ul>
            <% } %>
      </section>

  </main> 
</body>

</html>